<div id="hamb"><a href="/"><img class="logoImage" src="/images/logo.png" alt="logo" /></a>  </div>
<div id="singupContainer">
<h2>Login</h2>
  <form action="/auth/login" method="POST" id="form-container">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" >
   
    <label for="password">Password</label>
    <input id="password" type="password" name="password" >
    
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
  
    <button class="btn">Login</button>
 </form>
    <p class="account-message">
      Don't have an account yet? 
      <a href="/auth/signup" class="link">Signup</a>
    </p>
 
  </div>