<p>JUAN</p>




<form action="/login" method="POST">
  <label for="pelicula">Busca tu pelicula</label>
  <input id="pelicula" type="text" name="pelicula">
  

  <button  id="search">
    Buscar </button>
</form>

<section class ="container">
<div class="peliculas-container">
<div class ="peliculas-reseña">
<div class ="poster">Poster</div>
<div class ="title">Title</div>
<div class ="year">Year</div>


</div>


</div>






</section>










<script>
  document.querySelector('#search').onclick = function (event){
   event.preventDefault()
  let peliculas = document.querySelector('#pelicula').value
  
axios
.get(`http://www.omdbapi.com/?s=${peliculas}&apikey=507e1127&type=movie`)
.then(peliculas=>{
  let container = document.querySelector('.peliculas-container')
  container.innerHTML = ""
  peliculas.data.Search.forEach(pelicula => {
  printPelicula(pelicula)

  })
    
})
.catch(error=>{
  console.log(error)
})
    //console.log(document.querySelector('#pelicula').value)
}

function printPelicula(peliculas) {
 let container = document.querySelector('.peliculas-container')
 if(peliculas.Poster != "N/A"){
 container.innerHTML += `<div class="peliculas-reseña">
 <img src= ${peliculas.Poster} class="poster"></img>
 <div class="titulo">${peliculas.Title}</div>
 <div class="año">${peliculas.Year}</div>
 <a href="/">see more</a>
 
</div>`
}

else
{
  container.innerHTML += `<div class="peliculas-reseña">
     
    <img src="../images/no-image.jpeg"></img>

 <div class="titulo">${peliculas.Title}</div>
 <div class="año">${peliculas.Year}</div>
 <a href="/">see more</a>
 
</div>`
}}

</script>