<div id="hamb"><a href="/"><img class="logoImageSmall" src="/images/logo.png" alt="logo" /></a> </div>
<div id="singupContainer">
  <h2>Sign up</h2>
  <form action="/auth/signup" method="POST" id="form-container" autocomplete="off">
    <label class="label-signup" for="username">Username</label>
    <input id="username" type="text" name="username">
    <label class="label-signup" for="password">Password</label>
    <input id="password" type="password" name="password">

    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <button class="btn-signup">Sign up </a></button>

  </form>
  <p class="account-message">
    Do you already have an account? <a href="/auth/login" class="link">Login</a>

  </p>
</div>