<div id="container">
  <div id="header">
    <img class="logoImage" src="/images/logo.png" alt="logo" />
  </div>
  <div id="navBar">
    <nav>
      <a href="/auth/login" class="btn-index top">Login</a>
      <a href="/auth/signup" class="btn-index">Sign up</a>
    </nav>
  </div>
</div>