<p>JUAN</p>




<form action="/login" method="POST">
  <label for="movie">Search movie</label>
  <input id="movie" type="text" name="movie">
  

  <button  id="search">
    Search </button>
</form>


 <a href="/" class="btn">logout</a>

<section class ="container">
<div class="movies-container">
<div class ="movies-info">



</div>


</div>

<a href="/movies/want" class="btn">Want</a>
<a href="/movies/watched" class="btn">Watched</a>



</section>










<script>
  document.querySelector('#search').onclick = function (event){
   event.preventDefault()
  let movies = document.querySelector('#movie').value
  
axios
.get(`https://www.omdbapi.com/?s=${movies}&apikey=507e1127&type=movie`)
.then(movies=>{
  let container = document.querySelector('.movies-container')
  container.innerHTML = ""
  movies.data.Search.forEach(movie => {
  printMovie(movie)

  })
    
})
.catch(error=>{
  console.log(error)
})
    //console.log(document.querySelector('#pelicula').value)
}

function printMovie(movies) {
 let container = document.querySelector('.movies-container')
 if(movies.Poster != "N/A"){
 container.innerHTML += `<div class="movies-info">
 <img src= ${movies.Poster} class="poster"></img>
 <div class="titulo">${movies.Title}</div>
 <div class="año">${movies.Year}</div>
 <a href="/movies/info-movie/${movies.imdbID}">see more</a>
 
</div>`
}

else
{
  container.innerHTML += `<div class="movies-info">
     
    <img src="../images/no-image.jpeg"></img>

 <div class="titulo">${movies.Title}</div>
 <div class="año">${movies.Year}</div>
 <a href="/movies/info-movie/${movies.imdbID}">see more</a>
 
</div>`
}}

</script>