{{#each movies}}
{{this.Title}}
{{this.Year}}
<img src={{this.Poster}} />
{{/each}}



<div>
  <a href="/movies/want" class="btn">Want</a>
<a href="/movies/watched" class="btn">Watched</a>
 <a href="/" class="btn">logout</a>

</div>
